# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build
dist

# Environment
.env
.env.local
.env.*.local

# Drizzle
drizzle/

# Playwright
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Misc
*.pem
.cache

# TypeScript incremental build cache
*.tsbuildinfo
